.accordion-button:not(.collapsed) {
    background-color: $c2;
    color: $c6;
}

.accordion-button:focus {
    box-shadow: none;
}

.accordion-button {
    background-color: $c7;
}

.accordion-button:not(.collapsed)::after {
    background-image: url("../../images/accordian.svg");
}

.Auth-form-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: calc(100vh - 403px);
    @include min_md {
        min-height: calc(100vh - 369px);
    }
    .accordion {
        max-width: 400px;
        width: 100%;
        .btn,
        input {
            width: 100%;
            color: $c6;
        }
        label {
            display: block;
            color: $c6;
        }
        .display {
            display: block;
            margin-top: 16px;
            width: 100%;
        }
        .displayNone {
            display: none;
        }
        #responseCaptcha {
            background-color: unset;
            color: $c6;
        }
    }
    .rady {
        border-radius: 6px;
    }
}
