footer {
    background-color: $c8;
    color: $c9;
    width: 100%;
    ul {
        list-style-type: none;
        padding: 0;
        .top {
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        a {
            color: $c9;
            height: 27px;
            width: 27px;
            font-size: smaller;
            background-color: $c1;
            border: 1px solid;
            border-color: $c9;
            padding: 4px 0;
            text-decoration: none;
            line-height: 1;
            border-radius: 50%;
            transition: transform 0.5s;
            transform: scale(1);
            will-change: transform;
            &:hover,
            &:focus {
                color: $c9;
                transform: scale(0.9);
            }
        }
    }
}
