html {
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    background-image: url(../../images/back.webp);
    font-family: $font;
    font-size: 20px;
    overflow-y: scroll;
}

h1 {
    font-size: inherit;
    font-weight: 600;
    &.hidden {
        width: 0;
        height: 0;
        overflow: hidden;
    }
}

h2 {
    font-weight: 300;
}

svg {
    font-size: 20px;
    fill: $c3;
    vertical-align: text-top;
    width: 50px;
}

p {
    background-color: $c1;
    color: $c4;
}

b {
    font-weight: 500;
}

main {
    max-width: 1200px;
    margin: auto;
    min-height: calc(100vh - 73px);
}