#two-col-curve {
    background-color: $c12;
    img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        @include min_md {
            position: absolute;
            z-index: 0;
            top: 0;
            left: 0;
            height: 100%;
        }
    }
    b {
        font-weight: 500;
    }
    p,
    b {
        color: $c10;
        background-color: $c5;
    }
    .curve {
        background-color: $c5;
        position: relative;
        z-index: 1;
        &::before {
            content: "";
            position: absolute;
            z-index: 2;
            border-bottom-left-radius: 50%;
            border-left: 50rem solid $c1;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            @include min_md {
                border-bottom-left-radius: 75%;
            }
            @include min_lg {
                border-left: 60rem solid $c1;
            }
            @include min_xl {
                border-left: 75rem solid $c1;
            }
        }
        .inner-curve {
            position: relative;
            z-index: 2;

            @include min_md {
                padding: 5% 0 33% 0;
            }
        }
    }
}

#two-col-text {
    h2 {
        color: $c6;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            background-color: $c1;
            background-repeat: repeat-x;
            width: 40px;
            height: 1px;
        }
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            background-color: $c1;
            background-repeat: repeat-y;
            width: 1px;
            height: 40px;
        }
    }
    p {
        background-color: $c5;
        color: $c6;
    }
}

#two-col-image {
    background-color: $c1;
    div:nth-child(1) {
        h2 {
            color: $c10;
        }
        p {
            color: $c10;
        }
    }
    img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
    hr {
        color: $c10;
    }
}

#enquiry {
    input,
    label,
    textarea {
        width: 100%;
    }
    label {
        height: 64px;
        display: flex;
        align-items: end;
        flex-wrap: wrap;
        margin: 15px 0 0 0;
    }
    label[for="text"] {
        height: 216px;
    }
    textarea {
        resize: none;
    }
    input[type="text"],
    textarea {
        color: $c4;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 5px;
        border: 1px solid $c1;
        -webkit-appearance: none;
        appearance: none;
        outline: none;
        background-color: $c14;
        scrollbar-color: $c10 transparent;
        &::-webkit-scrollbar {
            width: 15px;
        }
        &::-webkit-scrollbar-thumb {
            background: $c10;
        }
        &::-webkit-scrollbar-track {
            background: transparent;
        }
    }
    input[type="submit"] {
        width: fit-content;
        color: $c4;
        background-color: $c14;
        font-weight: 400;
        border: 1px solid $c1;
        transition:
            color 0.2s ease-in-out,
            background-color 0.2s ease-in-out;
        &:hover,
        &:focus {
            color: $c4;
            background-color: $c1;
        }
    }
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
        -webkit-text-fill-color: $c4;
        -webkit-box-shadow: 0 0 0 5rem $c14 inset;
        -webkit-background-clip: text;
    }
    input.error,
    textarea.error {
        border-color: $c13;
    }
    p {
        background-color: $c5;
        color: $c6;
    }
    input::placeholder,
    textarea::placeholder {
        color: inherit;
    }
}
