.homeLeft > {
    p {
        + div {
            padding: 25%;
            background-color: $c8;
            border-bottom-left-radius: 29%;
            border: 1px solid $c1;
            &::before {
                content: "";
                position: absolute;
                border-bottom-left-radius: 100%;
                border-left: 75rem solid $c1;
                top: 0;
                bottom: 0;
                left: -5px;
            }
        }
    }
    p > span {
        font-weight: 500;
        + span {
            font-weight: initial;
        }
    }
}

.blend {
    background-color: $c9;
    img {
        border: 1px solid $c1;
        width: 100%;
        mix-blend-mode: darken;
        + p {
            background-color: $c1;
        }
    }
    b {
        font-weight: 500;
    }
}
