#payPal {
    text-align: center;
    font-size: larger;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    background-color: $c1;
    @include min_md {
        flex-direction: row;
    }
    .button-container-inner {
        height: min-content;
        display: flex;
        width: 100%;
        margin: 0 0 0 1rem;
    }
    #spinner {
        background-color: $c14;
        border-radius: 28px;
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
        max-height: 55px;
        img {
            object-fit: scale-down;
            width: 17%;
            max-height: 55px;
        }
    }

    #store {
        width: 100%;
        clip-path: circle(40%);
        background-color: $c4;
        min-width: 182px;
        overflow: hidden;
        @include min_md {
            width: 25%;
        }
        img {
            width: 100%;
            height: 100%;
            clip-path: circle(35%);
        }
    }
    #counter {
        width: 100%;
        color: $c4;
        @include min_md {
            width: 95px;
        }
        span {
            padding: 5.5px 15.5px;
        }
    }
    input {
        width: 50px;
        text-align: center;
        margin: 20px;
        color: $c4;
        border: none;
        background: none;
        -webkit-text-fill-color: $c4;
        opacity: 1;
    }
    input:disabled {
        color: $c4;
    }
}

table {
    width: 100%;
    margin: 50px auto 0 auto;
    font-size: 70%;
    th {
        position: absolute;
        clip: rect(0 0 0 0);
    }
    tr {
        display: block;
        border-top: 1px solid $c4;
        background-color: $c4;
    }
    thead tr,
    tr:nth-child(1) {
        border: none;
    }
    td {
        display: block;
        text-align: right;
        padding: 20px;
        word-break: break-word;
        &::before {
            content: attr(headers);
            text-align: left;
            display: block;
            font-weight: 600;
            text-transform: capitalize;
            height: 100%;
            margin: 0 0 1rem 0;
        }
        &:nth-child(odd) {
            background-color: $c2;
        }
    }
}
