// auth
.Auth-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 56px);
    .accordion {
        max-width: 350px;
        width: 100%;
        #mainCaptcha {
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
        .btn,
        input {
            width: 100%;
        }
        .display {
            display: block;
            margin-top: 16px;
            width: 100%;
        }
        .displayNone {
            display: none;
        }
    }
}