//scss
$c1: rgb(47, 79, 79);
$c2: rgba(47, 79, 79, 0.5);
$c3: black;
$c4: #eee;
$c5: transparent;

@font-face {
    font-family: Montserrat-Regular;
    src: url(./font/Montserrat-Regular.ttf);
    font-display: swap;
}

body {
    margin: 0;
    background-image: url(./images/back.webp);
    font-family: Montserrat-Regular;
    font-size: 20px;
    overflow-y: scroll;
}

h1 {
    font-size: inherit;
    font-weight: 900;
}

//nav

.nav-link {
    transition: text-decoration 0.2s;
    text-decoration: underline transparent;
    &:hover {
        text-decoration: underline $c3;
    }
}

//main
main {
    max-width: 1200px;
    margin: auto;
    min-height: calc(100vh - 186px);
}

//section
p {
    background-color: $c1;
    color: $c4;
}

//not found + output alerts
.alert-secondary,
.alert-light {
    text-align: center;
    margin: auto;
}

.alert-light {
    background-color: $c5;
    max-width: 1200px;
}

//svg
.font {
    font-size: 20px;
    fill: $c3;
}

//images
p > img,
p + div {
    width: 100%;
    border: 1px solid $c1;
}

p > img {
    object-fit: cover;
    height: 300px;
    @media only Screen and (min-width: 576px) {
        height: unset;
        object-fit: unset;
    }
}

p + div {
    padding: 25%;
    background-color: $c4;
    border-bottom-left-radius: 20%;
    &::before {
        content: "";
        position: absolute;
        border-bottom-left-radius: 100%;
        border-left: 75rem solid $c1;
        top: 0;
        bottom: 0;
        left: -2px;
    }
}

//footer
footer {
    height: 100px;
    ul {
        list-style-type: none;
        padding: 0;
        a {
            color: inherit;
            text-decoration: none;
            &:hover,
            &:focus {
                text-decoration: underline;
                color: inherit;
            }
        }
    }
}

// auth
.Auth-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 282px);
    .accordion {
        max-width: 350px;
        width: 100%;
        .btn,
        input {
            width: 100%;
        }
        label {
            display: block;
        }
        .display {
            display: block;
            margin-top: 16px;
            width: 100%;
        }
        .displayNone {
            display: none;
        }
        #responseCaptcha {
            background-color: unset;
            color: $c3;
        }
    }
}

#payPal {
    text-align: center;
    font-size: larger;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    .outer {
        display: flex;
    }
    #stationary {
        width: 200px;
        border-radius: 100%;
        border: 2px solid $c3;
        display: block;
        margin: auto auto 20px auto;
    }
    #spinner {
        height: 55px;
        width: fit-content;
        display: block;
        margin: auto;
        border: none;
    }
    input {
        width: 50px;
        text-align: center;
        margin: 20px;
        background: $c5;
        border: none;
    }
    h2 {
        margin: 50px auto;
    }
    table {
        width: calc(100% - 2rem);
        margin: 50px 1rem;
        font-size: 70%;
        th {
            position: absolute;
            clip: rect(0 0 0 0);
        }
        tr {
            display: block;
            border-top: 1px solid $c4;
            background-color: $c4;
        }
        thead tr,
        tr:nth-child(1) {
            border: none;
        }
        td {
            display: block;
            text-align: right;
            padding: 20px 20px 20px 50px;
            word-break: break-word;
            &::before {
                content: attr(headers);
                float: left;
                font-weight: 600;
                text-transform: capitalize;
                position: relative;
                right: 40px;
            }
            &:nth-child(odd) {
                background-color: $c2;
            }
        }
    }
}
